@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f7;
}

.shoppingContainer {
  background-color: white;
  width: 400px;
  margin: 60px auto;
  height: 400px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
.shoppingBanner {
  text-align: center;
  padding-top: 10px;
}

.shoppingList {
  overflow: auto;
  height: 250px;
}
/* .shoppingList::-webkit-scrollbar-thumb {
  background: #1fae51;
  border-radius: 10px;
}
.shoppingList::-webkit-scrollbar-track {
  border-radius: 15px;
} */

.shopping_item {
  margin: 5px 20px;
  display: flex;

  align-items: center;
  padding: 10px;
  border: 1px solid #e6e6e6;
}

.shopping_item p {
  flex: 1;
}

.editBtn {
  border: 0;
  outline: none;
  background: #09aeae;
  margin: 0 10px;
  color: white;
  font-weight: 600;
  padding: 8px;
  cursor: pointer;
}
.deleteBtn {
  border: 0;
  outline: none;
  background: #d72503;
  color: white;
  font-weight: 600;
  padding: 8px;
  cursor: pointer;
}
form {
  display: flex;
  margin: 20px;
  gap: 5px;
}
.form_input {
  background: #f7f7f7;
  border: 0;
  font-family: "Poppins", sans-serif;
  outline: none;
  padding: 10px;
  font-size: 16px;
  flex: 1;
}

.editInput {
  background: #f7f7f7;
  border: 0;
  font-family: "Poppins", sans-serif;
  outline: none;
  padding: 7px;
  font-size: 16px;
  flex: 1;
  width: 100%;
}
button {
  font-family: "Poppins", sans-serif;
}
.form_button {
  border: 0;
  outline: none;
  background: #1fae51;
  color: white;
  font-weight: 600;
  padding: 10px;
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: block;
}
