* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
.imageContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.imageColumn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .imageContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .imageContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
